BOT_TOKEN=8668086834:AAFUufoulGuOewjNgS_5sZKNQCjl-ypNN98
VK_API_KEY=your_vk_service_token
YT_API_KEY=your_youtube_api_key
DATABASE_URL=postgresql+asyncpg://aggregator:secret@db/aggregator
TELEGRAM_API_ID=12345
TELEGRAM_API_HASH=your_api_hash
SENTRY_DSN=optional